# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

ai-vigil-backend/

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/

# Cache folders
.cache/
